{% load static %}
<header>
    <center>
        <a href="{% url 'basket:allProdCat' %}"></a> <img src="{% static 'image/gb.png'  %}" alt="logimage" width="130px;" height="130px;">
        <div>
        <img class="my_image my_image_padding" src="{% static 'image/ff.png' %}" alt="our products" width="1250px;" height="1250px;">
</div>
                 <h1 class="text-center my_title"> Our products Collections</h1>
        <p class="text-justify"> Best Fresh fruits and vegetable products Online from Green Basket. Find a range of various Fresho products at best prices and get it delivered to your ... Country Of Origin. Australia; India; Italy; South Africa; Spain; Thailand; Iran</p>
    </center>

</header>
